# Merging tables together!

In [89]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [90]:
#import csv
title_basics = pd.read_csv('data/imdb.title.basics.csv')
years = pd.read_csv('data/bothyear.csv')

# Preparing title_basics table

From the 'title_baiscs' table extracted from IMDB we are going to merge 2018 and 2019 movies together with the webscrape because we want to find which genres make the most money during a particular season. So first we want to seperate the genres in the table by ','. We then take our title basics table and only keep the 2018, 2019 movies. We also want to rename the primary_title column to just title, so that we can merge the two tables together.

In [91]:
#splitting up genres by comma split
title_basics['genre1'] = title_basics['genres'].str.split(',', 1, expand=True)[0]
title_basics['genre2'] = title_basics['genres'].str.split(',', 1, expand=True)[1]
title_basics['genre3'] = title_basics['genre2'].str.split(',', 1, expand=True)[1]

In [92]:
#Since genre2 still had commas, and we split that to genre3, we can get rid of the comma
title_basics['genre2'] = title_basics['genre2'].str.split(',', 1, expand=True)[0]

In [93]:
#renaming column so that we can merge between tables
title_basics.rename(columns={'primary_title':'title'}, 
                 inplace=True)

In [94]:
#KEEPING ONLY MOVIES FROM 2018 and 2019
title_2019 = title_basics[title_basics.start_year == 2019]
title_2018 = title_basics[title_basics.start_year == 2018]
title_1819 = [title_2019,title_2018]
title1819 = pd.concat(title_1819)

In [95]:
title1819.shape

(25228, 9)

In [96]:
years.shape

(2909, 9)

Out 'title_basics' table is now ready and has been prepared and exported to 'title1819'.

# Preparing the webscrape table 'years'

This section, we want to prepare our 'years' table. We found that summer movies have the highest average gross. So we are going to drop all rows that do not contain summer.

In [97]:
years.drop(years[years.seasonn != 'Summer'].index, inplace = True)

In [98]:
df_merge = pd.merge(years, title1819, on='title', how='left')

In [100]:
df_merge.dropna(subset = ['runtime_minutes'], axis = 0, inplace = True)

In [101]:
df_merge.isna().sum()

Unnamed: 0           0
title                0
theaters             0
release              0
distributor          0
gross                0
total_gross          0
season_year          0
seasonn              0
tconst               0
original_title       0
start_year           0
runtime_minutes      0
genres               4
genre1               4
genre2              57
genre3             102
dtype: int64

LIMITATIONS:
Because we are trying to find an answer to a specific question, we end up with 196 data points we can use. 

Now we have all of the data that we need! It's time to export! :)