In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
title_basics = pd.read_csv('data/imdb.title.basics.csv')

In [3]:
title_basics.sample(2)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
108327,tt6356228,Como matar a un esposo muerto,Como matar a un esposo muerto,2017,NaN,Comedy
73447,tt4184494,My Life in China,My Life in China,2014,81.0,"Biography,Documentary,Family"

In [12]:
#Only keeping 2018 films to merge to 2018 movies from webscrape
title_basics.drop(title_basics[title_basics.start_year != 2018].index, inplace = True)

In [36]:
#splitting up genres by comma split
title_basics['genre1'] = title_basics['genres'].str.split(',', 1, expand=True)[0]
title_basics['genre2'] = title_basics['genres'].str.split(',', 1, expand=True)[1]
title_basics['genre3'] = title_basics['genre2'].str.split(',', 1, expand=True)[1]

In [39]:
#Since genre2 still had commas, and we split that to genre3, we can get rid of the comma
title_basics['genre2'] = title_basics['genre2'].str.split(',', 1, expand=True)[0]

In [52]:
title_basics.isna().sum()

tconst                 0
primary_title          0
original_title         3
start_year             0
runtime_minutes     4636
genres               556
genre1               556
genre2             11373
genre3             14355
dtype: int64