In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
title_basics = pd.read_csv('data/imdb.title.basics.csv')

In [25]:
title_basics.sample(2)

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
37207,tt2353767,"1,000 Times Good Night",Tusen ganger god natt,2013,117.0,"Drama,War"
107195,tt6277782,The kitchen of Las Patronas,The kitchen of Las Patronas,2016,67.0,"Documentary,Drama"

In [26]:
title_2018 = title_basics.drop(title_basics[title_basics.start_year != 2018].index, inplace = True)